*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  width: 95%;
  max-width: 1400px;
  margin: auto;
}
.coutries{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  
}
